*,
*::after,
*::before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'fira Sans', sans-serif;
  background-color: #f5f5f5;
  color: #333;
  line-height: 1.6;
}
.container {
  width: 80%;
  margin: 0 auto;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
img {
  width: 100%;
  display: block;
}
h1, h2, h3, h4, h5, h6 {
  line-height: normal;
}
p {
  margin: 5px 0;
}

/* Style Navbar Section Start*/

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav > h2 {
  margin-top: 20px;
  font-size: 32px;
  font-weight: bold;
}
nav > button {
  margin-top: 20px;
  font-size: 18px;
  font-weight: semibold;
  color: #006A50;
}
.primary_btn {
  cursor: pointer;
  background-color: none;
  color: #006A50;
  border: 1px solid #006A50;
  padding: 10px 20px;
  border-radius: 15px;
  text-decoration: none;
  -webkit-border-radius:;
  -moz-border-radius:;
  -ms-border-radius:;
  -o-border-radius:;
  box-shadow: 2px 2px 10px #006A50;
}


/* Style Banner Section Start*/
.content {
  margin: 40px 0;
  border-radius: 24px;
  background-color: #C6E4D6;
  display: flex;
  flex-wrap: wrap;
  -webkit-border-radius:;
  -moz-border-radius:;
  -ms-border-radius:;
  -o-border-radius:;
  padding: 117px 60px;
}
.text_sec {
  width: 60%;
  float: left;
}
.text_sec p{
  font-size: 24px;
  font-weight: medium;
  color: #0e0e0e86;
  opacity: 0.8;
}
.text_sec h1{
  font-size: 3rem;
  font-weight: bold;
}
.text_sec button {
  border-radius: 8px;
  margin-top: 20px;
  padding: 17px 34px;
  font-size: 18px;
  font-weight: semibold;
  border: none;
  background-color: #006A50;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}
.text_sec button a {
  color: #ffffff;
  text-decoration: none;
}
.image {
  width: 40%;
  float: right;
}
/* Style Banner Section End*/